{% extends 'base_app/base.html' %}

{% block title %} Avis {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block main %}

    <!-- **************** MAIN CONTENT START **************** -->
    <!-- =======================

    Page Banner START -->
    <section class="pt-0">
        <!-- Main banner background image -->
        <div class="container-fluid px-0">
            <div class="bg-blue h-100px h-md-100px rounded-0" style="background:url({% static 'base_app/assets/images/pattern/04.png' %}) no-repeat center center; background-size:cover;">
            </div>
        </div>
        <div class="container mt-n4">
            <div class="row">
                <!-- Profile banner START -->
                <div class="col-12">
                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <hr class="d-xl-none">
                    <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                        <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                        <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
	Page content START -->
	<section class="pt-2">
		<div class="container">
			<div class="row">
				<!-- Right sidebar START -->
				<div class="col-xl-3">
					<!-- Responsive offcanvas body START -->
					<nav class="navbar navbar-light navbar-expand-xl mx-0">
						<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
							<!-- Offcanvas header -->
							<div class="offcanvas-header bg-light">
								<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mon profil</h5>
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<!-- Offcanvas body -->
							<div class="offcanvas-body p-3 p-xl-0">
								<div class="bg-dark border rounded-3 pb-0 p-3 w-100">
									<!-- Dashboard menu -->
									<div class="list-group list-group-dark list-group-borderless">
										<a class="list-group-item" href="{% url 'preview' %}"><i class="bi bi-person-lines-fill fa-fw me-2"></i>
											Aperçu du profil
										</a>
										<a class="list-group-item" href="{% url 'statistic' %}"><i class="bi bi-graph-up fa-fw me-2"></i>
                                            Évolution de vos activités
                                        </a>
                                        <a class="list-group-item" href="{% url 'reviews' %}"><i class="bi bi-star fa-fw me-2"></i>
                                            Avis des clients
                                        </a>
                                        <a class="list-group-item" href="{% url 'billing' %}"><i class="bi bi-wallet2 fa-fw me-2"></i>
                                            Facturation
                                        </a>
										<a class="list-group-item" href="{% url 'quote_request' %}"><i class="bi bi-folder-check fa-fw me-2"></i>
											Demandes de devis
										</a>
										<a class="list-group-item" href="{% url 'edit_profile' %}"><i class="bi bi-pencil-square fa-fw me-2"></i>
											Configuration du profil
										</a>
										<a class="list-group-item active" href="{% url 'settings' %}"><i class="bi bi-gear fa-fw me-2"></i>
											Paramètres
										</a>
										<a class="list-group-item" href="{% url 'user_password_change' %}"><i class="bi bi-lock fa-fw me-2"></i>
											Mot de passe
										</a>
										<form action="{% url 'logout_user' %}" method="POST">
                            				{% csrf_token %}
											<button type="submit" class="list-group-item text-danger bg-danger-soft-hover">
												<i class="fas fa-sign-out-alt fa-fw me-2"></i>Déconnexion
											</button>
                        				</form>
									</div>
								</div>
							</div>
						</div>
					</nav>
					<!-- Responsive offcanvas body END -->
				</div>
				<!-- Right sidebar END -->

				<!-- Main content START -->
				<div class="col-xl-9">

                    {% if mover.activated == False %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							Important ! Votre compte est inactivé, veuillez nous contacter par email
							<b>support@itsmoving.be</b>.
						</div>
					{% endif %}

                    <!-- Student review START -->
                    <div class="card border rounded-3">
                        <!-- Header START -->
                        <div class="card-header border-bottom">
                            <div class="row justify-content-between align-middle">
                                <!-- Title -->
                                <div class="col-sm-6">
                                    <h3 class="card-header-title mb-2 mb-sm-0">

                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Header END -->

                        <!-- Reviews START -->
                        <div class="card-body text-dark h4">

                            {% if mover.pause == False %}
                                En mettant votre compte en pause, vous désactivez la reception de demande de devis.</br></br>
                                <p class="text-danger">
                                    Voulez-vous vraiment mettre en pause votre compte ?
                            {% else %}
                                <p class="text-success">
                                    Voulez-vous désactivez la pause de votre compte ?
                            {% endif %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% if mover.pause == False %}
                                            <input type="hidden" name="pause" value="True">
                                        {% else %}
                                            <input type="hidden" name="pause" value="False">
                                        {% endif %}
                                        <input type="hidden" name="ref" value="{{mover.ref}}">

                                        <input type="hidden" name="company_name" value="{{mover.company_name}}">
                                        <input type="hidden" name="company_phone_number" value="{{mover.company_phone_number}}">
                                        <input type="hidden" name="Adresse" value="{{mover.Adresse}}">
                                        <input type="hidden" name="employee_number" value="{{mover.employee_number}}">
                                        <input type="hidden" name="number_max_quote_request" value="{{mover.number_max_quote_request}}">
                                        <input type="hidden" name="website" value="{{mover.website}}">
                                        <input type="hidden" name="TVA_number" value="{{mover.TVA_number}}">
                                        <input type="hidden" name="Postal_Code" value="{{mover.Postal_Code}}">
                                        <input type="hidden" name="company_statut" value="{{mover.company_statut}}">
                                        <input type="hidden" name="company_description" value="{{mover.company_description}}">
                                        <input type="hidden" name="logo" value="{{mover.logo}}">
                                        <input type="hidden" name="activated" value="{{mover.activated}}">
                                        <input type="hidden" name="country" value="{{mover.country.id}}">
                                        <input type="hidden" name="moving_type1" value="{{mover.moving_type1.id}}">
                                        <input type="hidden" name="region" value="{{mover.region.id}}">
                                        {% if mover.pause == False %}
                                            <button type="submit" class="btn btn-danger text-white bg-danger-soft-hover">
                                                Oui
                                            </button>
                                        {% else %}
                                            <button type="submit" class="btn btn-success text-white bg-success-soft-hover">
                                                Oui
                                            </button>
                                        {% endif %}
                                    </form>
                                </p>


                        </div>
                        <!-- Reviews END -->
                    </div>
                    <!-- Student review END -->
				</div>
				<!-- Main content END -->
			</div><!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Page content END -->

    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}