{% extends 'base_app/base.html' %}

{% block title %} Les demandes de devis {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block main %}

    <!-- **************** MAIN CONTENT START **************** -->
    <!-- =======================

    Page Banner START -->
    <section class="pt-0">
        <!-- Main banner background image -->
        <div class="container-fluid px-0">
            <div class="bg-blue h-100px h-md-100px rounded-0" style="background:url({% static 'base_app/assets/images/pattern/04.png' %}) no-repeat center center; background-size:cover;">
            </div>
        </div>
        <div class="container mt-n4">
            <div class="row">
                <!-- Profile banner START -->
                <div class="col-12">
                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <hr class="d-xl-none">
                    <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                        <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                        <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
	Page content START -->
	<section class="pt-2">
		<div class="container">
			<div class="row">
				<!-- Right sidebar START -->
				<div class="col-xl-3">
					<!-- Responsive offcanvas body START -->
					<nav class="navbar navbar-light navbar-expand-xl mx-0">
						<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
							<!-- Offcanvas header -->
							<div class="offcanvas-header bg-light">
								<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mon profil</h5>
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<!-- Offcanvas body -->
							<div class="offcanvas-body p-3 p-xl-0">
								<div class="bg-dark border rounded-3 pb-0 p-3 w-100">
									<!-- Dashboard menu -->
									<div class="list-group list-group-dark list-group-borderless">
                                        <a class="list-group-item" href="{% url 'profile' %}"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>
                                            Tableau de bord
                                        </a>
										<a class="list-group-item" href="{% url 'preview' %}"><i class="bi bi-person-lines-fill fa-fw me-2"></i>
											Aperçu du profil
										</a>
										<a class="list-group-item" href="{% url 'statistic' %}"><i class="bi bi-graph-up fa-fw me-2"></i>
                                            Évolution de vos activités
                                        </a>
                                        <a class="list-group-item" href="{% url 'reviews' %}"><i class="bi bi-star fa-fw me-2"></i>
                                            Avis des clients
                                        </a>
                                        <a class="list-group-item" href="{% url 'billing' %}"><i class="bi bi-wallet2 fa-fw me-2"></i>
                                            Facturation
                                        </a>
										<a class="list-group-item active" href="{% url 'quote_request' %}"><i class="bi bi-folder-check fa-fw me-2"></i>
											Demandes de devis
										</a>
										<a class="list-group-item" href="{% url 'edit_profile' %}"><i class="bi bi-pencil-square fa-fw me-2"></i>
											Configuration du profil
										</a>
										<a class="list-group-item" href="{% url 'settings' %}"><i class="bi bi-gear fa-fw me-2"></i>
											Paramètres
										</a>
										<a class="list-group-item" href="{% url 'user_password_change' %}"><i class="bi bi-lock fa-fw me-2"></i>
											Mot de passe
										</a>
										<form action="{% url 'logout_user' %}" method="POST">
                            				{% csrf_token %}
											<button type="submit" class="list-group-item text-danger bg-danger-soft-hover">
												<i class="fas fa-sign-out-alt fa-fw me-2"></i>Déconnexion
											</button>
                        				</form>
									</div>
								</div>
							</div>
						</div>
					</nav>
					<!-- Responsive offcanvas body END -->
				</div>
				<!-- Right sidebar END -->

				<!-- Main content START -->
				<div class="col-xl-9">

					<!-- Card START -->
					<div class="card border rounded-3">

						{% if error %}
							<div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
								{{ error }}
							</div>
						{% else %}
							{% if messages %}
								{% for message in messages %}
									<div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
										{{message}}
									</div>
								{% endfor %}
							{% endif %}
						{% endif %}


						<!-- Card header START -->
						<div class="card-header border-bottom">
							<h3 class="mb-0">Demande de devis - {{mover_quote_request.quote_request.ref}}</h3>
						</div>
						<!-- Card header END -->

						<!-- Card body START -->
						<div class="card-body row">
							<center style="font-size: 30px"></center>
							<p></p>
							<form method="POST" class="row">
								{% csrf_token %}
								<!-- email -->
								<div class="col-sm-12">
									<label class="form-label">Veuillez sélectionner une raison *</label>
                                    <select class="form-select form-control text-opacity-50" name="reason">
										<option value="" class="text-dark">--------</option>
                                        <option value="Client injoignable" class="text-dark">
											Client injoignable
										</option>
										<option value="Adresse email et/ou numéro de téléphone erronés" class="text-dark">
											Adresse email et/ou numéro de téléphone erronés
										</option>
										<option value="Demande au-delà de nos compétences" class="text-dark">
											Demande au-delà de nos compétences
										</option>
										<option value="Devis erronés" class="text-dark">
											Devis erronés
										</option>
										<option value="Maximum journalier atteint" class="text-dark">
											Maximum journalier atteint
										</option>
										<option value="Autres raisons" class="text-dark">
											Autres raisons
										</option>
                                    </select>
								</div>
								<p></p>
								<p></p>
								<input type="hidden" name="treated" value="{{mover_quote_request.treated}}">
								<input type="hidden" name="rejected" value="True">
								<button type="submit" class="btn btn text-white d-block w-100 btn-danger">
									Rejeter
								</button>
							</form>
						</div>
						<!-- Card body START -->
					</div>
						<!--Card END  -->
				</div>
				<!-- Main content END -->
			</div><!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Page content END -->

    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}