{% extends 'base_app/base.html' %}

{% block title %} Déménagement Belgique {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block main %}

    <!-- **************** MAIN CONTENT START **************** -->

        <!-- =======================
		Page intro START --></br></br></br></br>
		<section class="bg-light py-0 py-sm-5">
			<div class="container">
				<div class="row py-5">
					<div class="col-lg-8">
						<!-- Badge -->
						<a href="{% url 'devis_page1' %}">
							<h6 class="mb-3 font-base bg-primary text-white py-2 px-4 rounded-2 d-inline-block">
								Obtenir des devis
							</h6>
						</a>
						<!-- Title -->
						<h1>Déménagement national</h1>
						<p>
							Vous déménagez bientôt et vous hésitez entre faire appel à des <strong>déménageurs professionnels</strong>
							ou demander à vos amis de vous prêter main-forte en échange d'une pizza ? Voici quelques points à prendre
							en considération avant de soulever cette première boîte.
						</p>
						<!-- Content -->
						<ul class="list-inline mb-0">
							<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="fas fa-star text-warning me-2"></i>
								4.9/5.0
							</li>
							<li class="list-inline-item h6 me-3 mb-1 mb-sm-0"><i class="bi bi-patch-exclamation-fill text-danger me-2"></i>
								Dernière modification Mai 2021
							</li>
							<li class="list-inline-item h6 mb-0"><i class="fas fa-globe text-info me-2"></i>
								Français
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- =======================
		Page intro END -->

		<!-- =======================
		Page content START -->
		<section class="pb-0 py-lg-5">
			<div class="container">
				<div class="row">
					<!-- Main content START -->
					<div class="col-lg-8">
						<div class="bg-body shadow rounded-2 p-4">
							<!-- Tabs START -->
							<ul class="nav nav-pills nav-tabs-line pt-0" id="course-pills-tab" role="tablist">
								<!-- Tab item -->
								<li class="nav-item me-2 me-sm-4" role="presentation">
									<button class="nav-link mb-2 mb-md-0 active" id="course-pills-tab-1" data-bs-toggle="pill" data-bs-target="#course-pills-1" type="button" role="tab" aria-controls="course-pills-1" aria-selected="true">
										Aperçu
									</button>
								</li>
								<!-- Tab item -->
								<li class="nav-item me-2 me-sm-4" role="presentation">
									<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-2" data-bs-toggle="pill" data-bs-target="#course-pills-2" type="button" role="tab" aria-controls="course-pills-2" aria-selected="true">
										Problèmes d'assurance
									</button>
								</li>
								<!-- Tab item -->
								<li class="nav-item me-2 me-sm-4" role="presentation">
									<button class="nav-link mb-2 mb-md-0" id="course-pills-tab-3" data-bs-toggle="pill" data-bs-target="#course-pills-3" type="button" role="tab" aria-controls="course-pills-3" aria-selected="false">
										Connaître son budget déménagement
									</button>
								</li>
							</ul>
							<hr>
							<!-- Tabs END -->

							<!-- Tab contents START -->
							<div class="tab-content pt-2" id="course-pills-tabContent">
								<!-- Content START -->
								<div class="tab-pane fade show active" id="course-pills-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
									<!-- Course detail START -->
									<h5 class="mb-3">Alléger la charge</h5>
									<p class="mb-3">
										Plus le déménagement est long, plus vous économisez en ayant moins à transporter. Jetez,
										recyclez, donnez ou vendez tout ce dont vous pouvez vous passer.
									</p></br>

									<h5 class="mb-3">Trouver des boîtes</h5>
									<p class="mb-3">
										Avoir vos boîtes de fournitures de déménagement peut coûter <strong>500 € ou plus</strong> pour
										une maison de taille moyenne. Certains déménageurs fourniront <strong>gratuitement des cartons
										usagés</strong>, et vous pouvez souvent obtenir des cartons jetés auprès de détaillants
										locaux ou d'autres entreprises qui reçoivent des envois fréquents.
									</p></br>

									<h5 class="mb-3">Lors de la préparation de votre déménagement, organisez-vous</h5>
									<p class="mb-3">
										Si vous voulez savoir comment préparer un déménagement comme un pro, sachez que s'organiser
										est la clé. Avec toute la planification, la coordination et le classement que vous aurez à
										faire au cours des prochaines semaines, il peut être facile de faire demi-tour. Restez
										organisé avec ces conseils.
									</p></br>

									<h5 class="mb-3">Faire l'inventaire</h5>
									<p class="mb-3">
										Faites l'inventaire de vos biens et estimez le coût de votre déménagement. Il s'agit d'une
										étape importante, alors assurez-vous de rendre compte de tout ce que vous possédez.
										Vous pouvez utiliser cette liste d'inventaire lorsque vous embauchez une entreprise de
										déménagement ou pour la recherche d'une assurance.
									</p></br>

								</div>
								<!-- Content END -->

								<!-- Content START -->
								<div class="tab-pane fade" id="course-pills-2" role="tabpanel" aria-labelledby="course-pills-tab-2">
									<!-- Course detail START -->
									<p class="mb-3">
										Le libellé du contrat standard de votre déménageur limite probablement considérablement sa
										responsabilité en cas de perte ou de dommages à vos biens. La plupart des déménageurs offrent
										une protection d'assurance « évaluation » supplémentaire. Mais avant de débourser une grosse
										somme pour une assurance déménagement, vérifiez votre police d'assurance habitation ou
										locataire ; vous êtes peut-être déjà couvert.
									</p>
								</div>
								<!-- Content END -->

								<!-- Content START -->
								<div class="tab-pane fade" id="course-pills-3" role="tabpanel" aria-labelledby="course-pills-tab-3">
									<!-- Course detail START -->
									<p class="mb-3">
										Avant d'aller plus loin, décidez d'un <strong>budget de déménagement</strong>. Assurez-vous d'inclure tous vos
										frais et le montant d'argent dont vous aurez besoin après le déménagement pour les meubles
										et les réparations. N'oubliez pas de conserver une preuve de toutes les dépenses de
										déménagement et de les conserver en toute sécurité dans votre dossier de déménagement
										pratique.
									</p>
									<p class="mb-3">
										Soyez sûr de pouvoir vous en sortir si vous utilisez ces simples astuces et de pouvoir économiser.
										Rien ne vaut une bonne organisation et les conseils nécessaires afin de faire en sorte que votre
										changement de domicile se passe pour le mieux.
									</p>
								</div>
								<!-- Content END -->
							</div>
							<!-- Tab contents END -->
						</div>
					</div>
					<!-- Main content END -->

					<!-- Right sidebar START -->
					<div class="col-lg-4 pt-5 pt-lg-0">
						<div class="row mb-5 mb-lg-0">
							<div class="col-md-6 col-lg-12">
								<!-- Image START -->
								<div class="card shadow p-2 mb-4 z-index-9">
									<div class="overflow-hidden rounded-3">
										<img src="{% static 'base_app/assets/images/base_app/moving1.png' %}" class="card-img" alt="course image">
									</div>

									<!-- Card body -->
									<div class="card-body px-3">
										<!-- Info -->
										<div class="d-flex justify-content-between align-items-center">
											<!-- Price and time -->
											<div>
												<div class="d-flex align-items-center">
													<h3 class="fw-bold mb-0 me-2">Déménagement international</h3>
												</div>
											</div>
										</div>

									</div>
								</div>
								<!-- Image END -->
							</div>

							<div class="col-md-6 col-lg-12">
								<!-- Tags START -->
								<div class="card card-body shadow p-4">
									<h4 class="mb-3">Tags populaires</h4>
									<ul class="list-inline mb-0">
										<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm">déménagement</a>
										</li>
										<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm">déménagement international</a>
										</li>
										<li class="list-inline-item"> <a class="btn btn-outline-light btn-sm">tarif déménagement</a>
										</li>
									</ul>
								</div>
								<!-- Tags END -->
							</div>
						</div><!-- Row End -->
					</div>
					<!-- Right sidebar END -->

				</div><!-- Row END -->
			</div>
		</section>
		<!-- =======================
		Page content END -->

    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}