{% extends 'base_app/base.html' %}

{% block title %} Contact {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block main %}
    <!-- **************** MAIN CONTENT START **************** -->

        <!-- =======================
        Page Banner START --></br></br></br></br></br>

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                {{ error }}
            </div>
        {% else %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        <section class="pt-5 pb-0" style="background-image:url({% static 'base_app/assets/images/element/map.svg' %}); background-position: center left; background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-6 text-center mx-auto">
                        <!-- Title -->
                        <h6 class="text-primary">Des questions ?</h6>
                        <h1 class="mb-4">Nous sommes là pour vous aider !</h1>
                    </div>
                </div>

                <!-- Contact info box -->
                <div class="row g-4 g-md-5 mt-0 mt-lg-3">
                    <!-- Box item -->
                    <div class="col-lg-4 mt-lg-0">
                        <div class="card shadow text-center">
                            <img src="{% static 'base_app/images/moving_image1.jpg' %}" class="h-210px" alt="">
                        </div>
                    </div>

                    <!-- Box item -->
                    <div class="col-lg-4 mt-lg-0 pt-3">
                        <div class="card card-body bg-warning shadow py-5 text-center h-210px">
                            <!-- Title -->
                            <h5 class="mb-3">Service Client</h5>
                            <ul class="list-inline mb-0">
                                <!-- Address -->
                                <li class="list-item mb-3 h6 fw-light">
                                    <a href="#">
                                        <i class="fas fa-fw fa-map-marker-alt me-2 mt-1"></i>
                                        Boulevard Bischoffsheim 39, 1000 Bxl (Bruxelles)
                                    </a>
                                </li>
                                <!-- Email id -->
                                <li class="list-item mb-0 h6 fw-light">
                                    <a href="#"> <i class="far fa-fw fa-envelope me-2"></i>support@itsmoving.be</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Box item -->
                    <div class="col-lg-4 mt-lg-0">
                        <div class="card shadow text-center">
                            <img src="{% static 'base_app/images/moving_image2.jpg' %}" class="h-210px" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Page Banner END -->

        <!-- =======================
        Image and contact form START -->
        <section >
            <div class="container">
                <div class="row g-4 g-lg-0 align-items-center">

                    <div class="col-md-6 align-items-center text-center">
                        <!-- Image -->
                        <img src="{% static 'base_app/assets/images/element/contact.svg' %}" class="h-400px" alt="">
                    </div>

                    <!-- Contact form START -->
                    <div class="col-md-6">
                        <!-- Title -->
                        <h2 class="mt-4 mt-md-0">On vous écoute</h2>
                        <p>
                            Vous pouvez nous contactez directement ou remplir le formulaire et nous vous répondrons dans les plus
                            brefs délais.
                        </p>

                        <form method="POST">
                            {% csrf_token %}
                            <!-- Name -->
                            <div class="mb-4 bg-light-input">
                                <label for="yourName" class="form-label">Votre Nom *</label>
                                <input type="text" class="form-control form-control-lg" id="yourName" name="full_name" required>
                            </div>
                            <!-- Subject -->
                            <div class="mb-4 bg-light-input">
                                <label class="form-label">Sujet *</label>
                                <input type="text" class="form-control form-control-lg" name="subject" required>
                            </div>
                            <!-- Email -->
                            <div class="mb-4 bg-light-input">
                                <label class="form-label">Adresse Email *</label>
                                <input type="email" class="form-control form-control-lg" name="email" required>
                            </div>
                            <!-- Message -->
                            <div class="mb-4 bg-light-input">
                                <label for="textareaBox" class="form-label">Message *</label>
                                <textarea class="form-control" id="textareaBox" rows="4" name="message" required></textarea>
                            </div>
                            <!-- Button -->
                            <div class="d-grid">
                                <button class="btn btn-lg btn-primary mb-0" type="submit">Envoyez le Message</button>
                            </div>
                        </form>
                    </div>
                    <!-- Contact form END -->
                </div>
            </div>
        </section>
        <!-- =======================
        Image and contact form END -->

        <!-- =======================
        Map START -->
        <section class="pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <iframe class="w-100 h-400px grayscale rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2518.8451731697114!2d4.364320715954683!3d50.852551279532925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c37c0839e67b%3A0x7429647aae0a955e!2sBld%20Bischoffsheim%2039%2C%201000%20Bruxelles%2C%20Belgium!5e0!3m2!1sen!2sus!4v1654396983601!5m2!1sen!2sus" height="500" style="border:0;" aria-hidden="false" tabindex="0">
                        </iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Map END -->

    <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}