<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
    </head>

    <!-- Body-->
    <body>
        <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 1200px; display: block; padding: 20px;">
            <table class="main" width="1000px" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
                bgcolor="#fff">
                <tbody>
                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: #fff; font-weight: 500; border-radius: 3px 3px 0 0; background-color: #066ac9; margin: 0; padding: 20px;"
                            align="center" bgcolor="#71b6f9" valign="top">
                            <center>
                                <a href="www.itsmoving.be" style="font-size:32px;color:#fff; text-decoration: none;">ItsMoving</a> <br>
                                <span style="margin-top: 10px;display: block;">La première plateforme de déménagement 100% Belge.</span>
                            </center>
                        </td>
                    </tr>
                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
                            <table width="1000px" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <tbody>
                                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                            Bienvenu chez <b>ItsMoving</b> Mr <b>{{last_name|capfirst}}</b>!
                                        </td>
                                    </tr>
                                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                            <p>
                                                {{message}}
                                            </p>
                                            <p>
                                                Nous sommes vraiment désolé. Mais n'avons pas encore de déménageurs
                                                disponibles dans votre region. Ce problème sera bientôt
                                                résolu, nous sommes en discussion avec de nouveaux partenaires, donc
                                                c'est possible que vous recevez des devis dans les prochains jours.
                                            </p>
                                            <p>
                                                Nous nous excusons encore pour ce petit désagrément !
                                            </p>
                                            <p>

                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                            <p style="font-size: 16px;">
                                                Notre service clientèle est disponible 24h/24, vous pouvez nous contacter à tout moment.
                                            </p>

                                            <p style="font-size: 16px;">
                                                Cordialement,
                                            </p>

                                            <p>
                                                <center style="font-size: 13px;">
                                                    Merci d'avoir choisie <a href="www.itsmoving.be" style="text-decoration:none">ItsMoving</a>.
                                                </center>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>