{% extends 'base_app/base.html' %}

{% block title %} Facturation {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block main %}

    <!-- **************** MAIN CONTENT START **************** -->
    <!-- =======================

    Page Banner START -->
    <section class="pt-0">
        <!-- Main banner background image -->
        <div class="container-fluid px-0">
            <div class="bg-blue h-100px h-md-100px rounded-0" style="background:url({% static 'base_app/assets/images/pattern/04.png' %}) no-repeat center center; background-size:cover;">
            </div>
        </div>
        <div class="container mt-n4">
            <div class="row">
                <!-- Profile banner START -->
                <div class="col-12">
                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <hr class="d-xl-none">
                    <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                        <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                        <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

	{% if error %}
		</br>
		<div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
			{{ error }}
		</div>
	{% else %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
					{{message}}
				</div>
			{% endfor %}
		{% endif %}
	{% endif %}

    <!-- =======================
	Page content START -->
	<section class="pt-2">
		<div class="container">
			<div class="row">
				<!-- Right sidebar START -->
				<div class="col-xl-3">
					<!-- Responsive offcanvas body START -->
					<nav class="navbar navbar-light navbar-expand-xl mx-0">
						<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
							<!-- Offcanvas header -->
							<div class="offcanvas-header bg-light">
								<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mon profil</h5>
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<!-- Offcanvas body -->
							<div class="offcanvas-body p-3 p-xl-0">
								<div class="bg-dark border rounded-3 pb-0 p-3 w-100">
									<!-- Dashboard menu -->
									<div class="list-group list-group-dark list-group-borderless">
										<a class="list-group-item" href="{% url 'preview' %}"><i class="bi bi-person-lines-fill fa-fw me-2"></i>
											Aperçu du profil
										</a>
										<a class="list-group-item" href="{% url 'statistic' %}"><i class="bi bi-graph-up fa-fw me-2"></i>
                                            Évolution de vos activités
                                        </a>
                                        <a class="list-group-item" href="{% url 'reviews' %}"><i class="bi bi-star fa-fw me-2"></i>
                                            Avis des clients
                                        </a>
                                        <a class="list-group-item active" href="{% url 'billing' %}"><i class="bi bi-wallet2 fa-fw me-2"></i>
                                            Facturation
                                        </a>
										<a class="list-group-item" href="{% url 'quote_request' %}"><i class="bi bi-folder-check fa-fw me-2"></i>
											Demandes de devis
										</a>
										<a class="list-group-item" href="{% url 'edit_profile' %}"><i class="bi bi-pencil-square fa-fw me-2"></i>
											Configuration du profil
										</a>
										<a class="list-group-item" href="{% url 'settings' %}"><i class="bi bi-gear fa-fw me-2"></i>
											Paramètres
										</a>
										<a class="list-group-item" href="{% url 'user_password_change' %}"><i class="bi bi-lock fa-fw me-2"></i>
											Mot de passe
										</a>
										<form action="{% url 'logout_user' %}" method="POST">
                            				{% csrf_token %}
											<button type="submit" class="list-group-item text-danger bg-danger-soft-hover">
												<i class="fas fa-sign-out-alt fa-fw me-2"></i>Déconnexion
											</button>
                        				</form>
									</div>
								</div>
							</div>
						</div>
					</nav>
					<!-- Responsive offcanvas body END -->
				</div>
				<!-- Right sidebar END -->

				<!-- Main content START -->
				<div class="col-xl-9">
                    {% if mover.activated == False %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Important ! Votre compte est inactivé, veuillez nous contacter par email
                            <b>ItsMoving@gmail.com</b> ou par téléphone <b>8788788879</b>.
                        </div>
                    {% endif %}

					<!-- Payout box START -->
                    <div class="row g-4 mb-4">
                        <!-- Box item -->
                        <div class="col-sm-6">
                            <div class="bg-primary bg-opacity-10 h-100 p-3 rounded-3">
                                <div class="d-flex mb-1 justify-content-between align-items-center">
                                    <h6 class="mb-0">Ce mois </h6>
                                    <span class="badge bg-success bg-opacity-10 text-success ms-2 mb-0">Payé</span>
                                </div>
                                <h2 class="mb-2 mt-2 text-success">
                                    {{sum_quote_request_paid_actual_month_htva}}€ HTVA
                                </h2>
                                <a href="{% url 'paiement_done_actual_month' mover.id %}">Voir les paiements</a>
                            </div>
                        </div>

                        <!-- Box item -->
                        <div class="col-sm-6">
                            <div class="bg-danger bg-opacity-10 h-100 p-3 rounded-3">
                                <h6 class="mb-0">Payement(s) non effectué(s)</h6>
                                <h2 class="mb-2 mt-2 bg-opacity-10 text-danger">
                                    {{sum_quote_request_unpaid_htva}}€ htva
                                </h2>
                                <a href="{% url 'paiement_not_done' mover.id %}">Voir les paiements</a>
                            </div>
                        </div>

                        <!-- Box item -->
                        <div class="col-sm-12">
                            <div class="bg-warning bg-opacity-10 h-100 p-3 rounded-3">
                                <div class="d-flex mb-1 justify-content-between align-items-center">
                                    <h3 class="mb-0">Comment faire le paiement ? </h3>
                                </div>
                                <h6 class="mb-2 mt-2">
                                    Cliquez sur le bouton bleu 'Voire/Imprimer la facture' pour connaitre le montant
                                    total à payer et faites le paiement avec l'une des deux méthodes disponibles :
                                    <ul>
                                        <li>
                                            Domiciliation
                                        </li>
                                        <li>
                                            Virement bancaire sur le compte suivant :
                                        </li>
                                    </ul>
                                </h6>
                                <h6 class="text-danger">
                                    Important: La TVA ne concerne que les entreprises Belges !
                                </h6>
                            </div>
                        </div>

                    </div>
                    <!-- Payout box END -->

                    <div class="card border rounded-3">
                        <!-- Card header START -->
                        <div class="card-header border-bottom">
                            <h3 class="mb-0" style="float: left;">Paiements</h3>

                            <span style="float: right;">
                                {% if not payment_notification %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        Aviez-vous effectuer un paiement ?
                                        <button class="btn btn-primary" type="submit">Oui</button>
                                    </form>
                                {% endif %}
                            </span>
                        </div>
                        <!-- Card header END -->

                        <!-- Card body START -->
                        <div class="card-body">

                            <!-- Title and select START -->
                            <div class="row g-3 align-items-center justify-content-between mb-4">
                                <!-- Content -->
                                <div class="col-md-8">
                                    <h6 class="text-danger">
                                        Important: Un rappel de paiement vous sera envoyé le 5 de chaque mois avec un
                                        délai de paiement de deux semaines. Après cette période, votre compte risque d'etre
                                        suspendus!
                                    </h6>
                                </div>

                                <!-- Select option -->
                                <div class="col-md-3">
                                    <!-- Short by filter -->
                                    {% if mover_quote_requests %}
                                        <a type="button" class="btn btn-primary" href="{% url 'payment' mover.id %}" style="text-align: right">
                                            Voire/Imprimer la facture
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Title and select END -->

                            <!-- Payout list table START -->
                            <div class="table-responsive border-0">
                                <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                                    <!-- Table head -->
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 rounded-start">Paiements</th>
                                            <th scope="col" class="border-0">Montants</th>
                                            <th scope="col" class="border-0">Status</th>
                                        </tr>
                                    </thead>
                                    <!-- Table body START -->
                                    <tbody>
                                        {% for mover_quote_request in mover_quote_requests %}
                                            <!-- Table item -->
                                            <tr>
                                                <!-- Table data -->
                                                <td>
                                                    <h6 class="mt-2 mt-lg-0 mb-0">
                                                        <a href="{% url 'mover_quote_request_detail' mover_quote_request.id %}">
                                                            Devis #{{mover_quote_request.quote_request.ref}}
                                                        </a>
                                                    </h6>
                                                </td>

                                                <!-- Table data -->
                                                <td>{{payment_info.amount}}€ HTVA
                                                    <!-- Drop down with id -->
                                                    <a href="#" class="h6 mb-0" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="bi bi-info-circle-fill"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
                                                        <li>
                                                            <div class="d-flex justify-content-between">
                                                                <span class="me-4 small">TVA</span>
                                                                <span class="text-danger small">
                                                                    +{{payment_info.tva}}€ (21%)
                                                                </span>
                                                            </div>
                                                            <hr class="my-1">
                                                        </li>
                                                    </ul>
                                                </td>

                                                <!-- Table data -->
                                                <td class="text-center text-sm-start">
                                                    {% if mover_quote_request.paid == 'Non payé' %}
                                                        <span class="badge bg-danger bg-opacity-10 text-danger">
                                                            {{mover_quote_request.paid}}
                                                        </span>
                                                    {% elif mover_quote_request.paid == 'Payé' %}
                                                        <span class="badge bg-success bg-opacity-10 text-success">
                                                            {{mover_quote_request.paid}}
                                                        </span>
                                                    {% elif mover_quote_request.paid == 'Vérification en cours...' %}
                                                        <span class="badge bg-warning bg-opacity-10 text-warning">
                                                            {{mover_quote_request.paid}}
                                                        </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <!-- Table body END -->
                                </table>

                                {% if number_requests > 29 %}
                                    </br>
                                    <center>
                                        <a type="button" class="btn btn-primary" href="{% url 'payment_history' mover.id %}" style="text-align: right">
                                            Voir plus...
                                        </a>
                                    </center>
                                {% endif %}
                            </div>
                            <!-- Payout list table END -->

                        </div>
                        <!-- Card body START -->
                    </div>
                    <!-- Payout END -->

				</div>
				<!-- Main content END -->
			</div><!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Page content END --></br></br></br></br></br></br></br></br></br></br></br>

    <!-- **************** MAIN CONTENT END **************** -->

{% endblock %}