{% extends 'base_app/base.html' %}

{% block title %} Les demandes de devis {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block main %}

    <!-- **************** MAIN CONTENT START **************** -->
    <!-- =======================

    Page Banner START -->
    <section class="pt-0">
        <!-- Main banner background image -->
        <div class="container-fluid px-0">
            <div class="bg-blue h-100px h-md-100px rounded-0" style="background:url({% static 'base_app/assets/images/pattern/04.png' %}) no-repeat center center; background-size:cover;">
            </div>
        </div>
        <div class="container mt-n4">
            <div class="row">
                <!-- Profile banner START -->
                <div class="col-12">
                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <hr class="d-xl-none">
                    <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                        <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                        <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

    <!-- =======================
	Page content START -->
	<section class="pt-2">
		<div class="container">
			<div class="row">
				<!-- Right sidebar START -->
				<div class="col-xl-3">
					<!-- Responsive offcanvas body START -->
					<nav class="navbar navbar-light navbar-expand-xl mx-0">
						<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
							<!-- Offcanvas header -->
							<div class="offcanvas-header bg-light">
								<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mon profil</h5>
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<!-- Offcanvas body -->
							<div class="offcanvas-body p-3 p-xl-0">
								<div class="bg-dark border rounded-3 pb-0 p-3 w-100">
									<!-- Dashboard menu -->
									<div class="list-group list-group-dark list-group-borderless">
										<a class="list-group-item" href="{% url 'preview' %}"><i class="bi bi-person-lines-fill fa-fw me-2"></i>
											Aperçu du profil
										</a>
										<a class="list-group-item" href="{% url 'statistic' %}"><i class="bi bi-graph-up fa-fw me-2"></i>
                                            Évolution de vos activités
                                        </a>
                                        <a class="list-group-item" href="{% url 'reviews' %}"><i class="bi bi-star fa-fw me-2"></i>
                                            Avis des clients
                                        </a>
                                        <a class="list-group-item" href="{% url 'billing' %}"><i class="bi bi-wallet2 fa-fw me-2"></i>
                                            Facturation
                                        </a>
										<a class="list-group-item active" href="{% url 'quote_request' %}"><i class="bi bi-folder-check fa-fw me-2"></i>
											Demandes de devis
										</a>
										<a class="list-group-item" href="{% url 'edit_profile' %}"><i class="bi bi-pencil-square fa-fw me-2"></i>
											Configuration du profil
										</a>
										<a class="list-group-item" href="{% url 'settings' %}"><i class="bi bi-gear fa-fw me-2"></i>
											Paramètres
										</a>
										<a class="list-group-item" href="{% url 'user_password_change' %}"><i class="bi bi-lock fa-fw me-2"></i>
											Mot de passe
										</a>
										<form action="{% url 'logout_user' %}" method="POST">
                            				{% csrf_token %}
											<button type="submit" class="list-group-item text-danger bg-danger-soft-hover">
												<i class="fas fa-sign-out-alt fa-fw me-2"></i>Déconnexion
											</button>
                        				</form>
									</div>
								</div>
							</div>
						</div>
					</nav>
					<!-- Responsive offcanvas body END -->
				</div>
				<!-- Right sidebar END -->

				<!-- Main content START -->
				<div class="col-xl-9">

					{% if mover.pause == True %}
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							Important ! Votre compte est en pause, vous ne pouvez pas recevoir de demandes de devis.
						</div>
					{% endif %}

					{% if mover.activated == False %}
						<div class="alert alert-danger alert-dismissible fade show" role="alert">
							Important ! Votre compte est inactivé, veuillez nous contacter par email
							<b>support@itsmoving.be</b>.
						</div>
					{% endif %}

					<!-- Card START -->
					<div class="card border rounded-3">

						{% if error %}
							<div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
								{{ error }}
							</div>
						{% else %}
							{% if messages %}
								{% for message in messages %}
									<div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
										{{message}}
									</div>
								{% endfor %}
							{% endif %}
						{% endif %}


						<!-- Card header START -->
						<div class="card-header border-bottom">
							<h3 class="mb-0">Demande de devis de ce mois</h3>
						</div>
						<!-- Card header END -->

						<!-- Card body START -->
						<div class="card-body">

							<!-- Search and select START -->
							<div class="row g-3 align-items-center justify-content-between mb-4">
								<!-- Search -->
								<div class="col-md-8">
									<form class="rounded position-relative" method="POST">
										{% csrf_token %}
										<input class="form-control pe-5 bg-transparent" type="search" name="ref" placeholder="Entrer une référence" aria-label="Search">
										<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit" name="search" value="search">
											<i class="fas fa-search fs-6 "></i>
										</button>
									</form>
								</div>

								<!-- Select option -->
								<div class="col-md-3">
									<a type="button" class="btn btn-dark-soft" href="{% url 'treated_quote_request' %}">Voir les demandes traitées</a>
								</div>
							</div>
							<!-- Search and select END -->

							<!-- Order list table START -->
							<div class="table-responsive border-0">
								<!-- Table START -->
								<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
									<!-- Table head -->
									<thead>
										<tr>
											<th scope="col" class="border-0 rounded-start">Ref</th>
											<th scope="col" class="border-0 text-center">Type de déménagement</th>
											<th scope="col" class="border-0 text-center">Type de client</th>
											<th scope="col" class="border-0 text-center">Départ</th>
											<th scope="col" class="border-0 rounded-end text-center">Arrivée</th>
											<th scope="col" class="border-0 rounded-end text-center">Date</th>
										</tr>
									</thead>

									<!-- Table body START -->
									<tbody>
										{% if mover_quote_request %}
											<div class="alert alert-info alert-dismissible fade show" role="alert">
												<h5>Résultat de la recherche</h5>
											</div>
											<!-- Table item -->
											<tr>
												<!-- Table data -->
												<td>
													<h6 class="mt-2 mt-lg-0 mb-0">
														<a href="{% url 'mover_quote_request_detail' mover_quote_request.id %}">
															#{{quote_request.ref}}
														</a>
													</h6>
												</td>

												<!-- Table data -->
												<td class="text-center">
													{{quote_request.moving_type1.name}}
												</td>

												<!-- Table data -->
												<td class="text-center">
													{{quote_request.moving_type2.name}}
												</td>

												<!-- Table data -->
												<td class="text-center">
													{% if quote_request.moving_type1.name == 'National' %}
														{{quote_request.City_Departure|capfirst}}
													{% else %}
														{{quote_request.country.name|capfirst}}
													{% endif %}
												</td>

												<!-- Table data -->
												<td class="text-center">
													{% if quote_request.moving_type1.name == 'National' %}
														{{quote_request.City_Arrival|capfirst}}
													{% else %}
														{{quote_request.Country_Arrival|capfirst}}
													{% endif %}
												</td>

												<!-- Table data -->
												<td class="text-center">
													{% if quote_request.moving_date|date == 'Oct. 10, 1000' %}
														{% load i18n %}
														{% language 'fr' %}
															{{quote_request.moving_date1|date:'d F Y'}} -
															{{quote_request.moving_date2|date:'d F Y'}}
														{% endlanguage %}
													{% else %}
														{% load i18n %}
														{% language 'fr' %}
															{{quote_request.moving_date|date:'d F Y'}}
														{% endlanguage %}
													{% endif %}
												</td>
											</tr>

										{% else %}
											{% for mover_quote_request in mover_quote_requests_actual_month %}
												<!-- Table item -->
												<tr>
													<!-- Table data -->
													<td>
														<h6 class="mt-2 mt-lg-0 mb-0">
															<a href="{% url 'mover_quote_request_detail' mover_quote_request.id %}">
																#{{mover_quote_request.quote_request.ref}}
															</a>
														</h6>
													</td>

													<!-- Table data -->
													<td class="text-center">
														{{mover_quote_request.quote_request.moving_type1.name}}
													</td>

													<!-- Table data -->
													<td class="text-center">
														{{mover_quote_request.quote_request.moving_type2.name}}
													</td>

													<!-- Table data -->
													<td class="text-center">
														{% if mover_quote_request.quote_request.moving_type1.name == 'National' %}
															{{mover_quote_request.quote_request.region.name|capfirst}}
														{% else %}
															{{mover_quote_request.quote_request.country.name|capfirst}}
														{% endif %}
													</td>

													<!-- Table data -->
													<td class="text-center">
														{% if mover_quote_request.quote_request.moving_type1.name == 'National' %}
															{{mover_quote_request.quote_request.Region_Arrival_for_national_moving|capfirst}}
														{% else %}
															{{mover_quote_request.quote_request.Country_Arrival|capfirst}}
														{% endif %}
													</td>

													<!-- Table data -->
													<td class="text-center">
														{% if mover_quote_request.quote_request.moving_date|date == 'Oct. 10, 1000' %}
															{% load i18n %}
															{% language 'fr' %}
																{{mover_quote_request.quote_request.moving_date1|date:'d F Y'}} -
																{{mover_quote_request.quote_request.moving_date2|date:'d F Y'}}
															{% endlanguage %}
														{% else %}
															{% load i18n %}
															{% language 'fr' %}
																{{mover_quote_request.quote_request.moving_date|date:'d F Y'}}
															{% endlanguage %}
														{% endif %}
													</td>
												</tr>
											{% endfor %}
										{% endif %}
									</tbody>
									<!-- Table body END -->
								</table>

								</br>
								<center>
									<a type="button" class="btn btn-primary" href="{% url 'all_quote_requests' mover.id %}" style="text-align: right">
										Voir l'historique
									</a>
								</center>

								<!-- Table END -->
							</div>
							<!-- Order list table END -->

						</div>
						<!-- Card body START -->
					</div>
						<!--Card END  -->
				</div>
				<!-- Main content END -->
			</div><!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Page content END -->

    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}