{% extends 'base_app/base.html' %}

{% block title %} Paramètres {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block main %}

    <!-- **************** MAIN CONTENT START **************** -->
    <!-- =======================

	Page Banner START -->
    <section class="pt-0">
        <!-- Main banner background image -->
        <div class="container-fluid px-0">
            <div class="bg-blue h-100px h-md-100px rounded-0" style="background:url({% static 'base_app/assets/images/pattern/04.png' %}) no-repeat center center; background-size:cover;">
            </div>
        </div>
        <div class="container mt-n4">
            <div class="row">
                <!-- Profile banner START -->
                <div class="col-12">
                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <hr class="d-xl-none">
                    <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                        <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                        <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->

	{% if error %}
		<div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
			{{ error }}
		</div>
	{% else %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
					{{message}}
				</div>
			{% endfor %}
		{% endif %}
	{% endif %}

    <!-- =======================
	Page content START -->
	<section class="pt-2">
		<div class="container">
			<div class="row">
				<!-- Right sidebar START -->
				<div class="col-xl-3">
					<!-- Responsive offcanvas body START -->
					<nav class="navbar navbar-light navbar-expand-xl mx-0">
						<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
							<!-- Offcanvas header -->
							<div class="offcanvas-header bg-light">
								<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mon profil</h5>
								<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
							</div>
							<!-- Offcanvas body -->
							<div class="offcanvas-body p-3 p-xl-0">
								<div class="bg-dark border rounded-3 pb-0 p-3 w-100">
									<!-- Dashboard menu -->
									<div class="list-group list-group-dark list-group-borderless">
                                        <a class="list-group-item" href="{% url 'profile' %}"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>
                                            Tableau de bord
                                        </a>
										<a class="list-group-item" href="{% url 'preview' %}"><i class="bi bi-person-lines-fill fa-fw me-2"></i>
											Aperçu du profil
										</a>
										<a class="list-group-item" href="{% url 'statistic' %}"><i class="bi bi-graph-up fa-fw me-2"></i>
                                            Évolution de vos activités
                                        </a>
                                        <a class="list-group-item" href="{% url 'reviews' %}"><i class="bi bi-star fa-fw me-2"></i>
                                            Avis des clients
                                        </a>
                                        <a class="list-group-item" href="{% url 'billing' %}"><i class="bi bi-wallet2 fa-fw me-2"></i>
                                            Facturation
                                        </a>
										<a class="list-group-item" href="{% url 'quote_request' %}"><i class="bi bi-folder-check fa-fw me-2"></i>
											Demandes de devis
										</a>
										<a class="list-group-item" href="{% url 'edit_profile' %}"><i class="bi bi-pencil-square fa-fw me-2"></i>
											Configuration du profil
										</a>
										<a class="list-group-item active" href="{% url 'settings' %}"><i class="bi bi-gear fa-fw me-2"></i>
											Paramètres
										</a>
										<a class="list-group-item" href="{% url 'user_password_change' %}"><i class="bi bi-lock fa-fw me-2"></i>
											Mot de passe
										</a>
										<form action="{% url 'logout_user' %}" method="POST">
                            				{% csrf_token %}
											<button type="submit" class="list-group-item text-danger bg-danger-soft-hover">
												<i class="fas fa-sign-out-alt fa-fw me-2"></i>Déconnexion
											</button>
                        				</form>
									</div>
								</div>
							</div>
						</div>
					</nav>
					<!-- Responsive offcanvas body END -->
				</div>
				<!-- Right sidebar END -->

				<!-- Main content START -->
				<div class="col-xl-9">

					<!-- Counter boxes START -->
					<div class="row g-4">
						<!-- Counter item -->
						<div class="col-sm-6 col-lg-4">
							{% if mover.moving_type1.name == "National" %}

								<a class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
									<span class="display-6 text-warning mb-0"><i class='fa fa-globe fa-fw'></i></span>
									<div class="ms-4">
										<span class="mb-0 h5 fw-light">
											Zone d'intervention: <b>{{mover.country}}</b>
										</span>
									</div>
								</a>

							{% else %}
								<a href="{% url 'area_intervention' %}" class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
									<span class="display-6 text-warning mb-0"><i class='fa fa-globe fa-fw'></i></span>
									<div class="ms-4">
										<div class="d-flex">
											<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{mover_countries_number}}"	data-purecounter-delay="200">0</h5>
										</div>
										<span class="mb-0 h5 fw-light">Zones d'intervention</span>
									</div>
								</a>
							{% endif %}
						</div>
						<!-- Counter item -->
						<div class="col-sm-6 col-lg-4">
							<a href="{% url 'moving_type' %}" class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-10 rounded-3">
								<span class="display-6 text-purple mb-0"><i class='fa fa-truck fa-fw'></i></span>
								<div class="ms-4">
									<div class="d-flex">
										<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{mover_moving_types1_number}}"	data-purecounter-delay="200">0</h5>
									</div>
									<span class="mb-0 h5 fw-light">Type(s) de déménagement</span>
								</div>
							</a>
						</div>
						<!-- Counter item -->
						<div class="col-sm-6 col-lg-4">
							<a href="{% url 'customer_type' %}" class="d-flex justify-content-center align-items-center p-4 bg-info bg-opacity-10 rounded-3">
								<span class="display-6 text-info mb-0"><i class="fas fa-users fa-fw"></i></span>
								<div class="ms-4">
									<div class="d-flex">
										<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{mover_moving_types2_number}}" data-purecounter-delay="300">0</h5>
									</div>
									<span class="mb-0 h5 fw-light">Type(s) de clientèle</span>
								</div>
							</a>
						</div>
						<!-- Counter item -->
						<div class="col-sm-6 col-lg-4">
							<a href="{% url 'quote_request_settings' %}" class="d-flex justify-content-center align-items-center p-4 bg-dark bg-opacity-10 rounded-3">
								<span class="display-6 text-dark mb-0"><i class='fa fa-list fa-fw'></i></span>
								<div class="ms-4">
									<div class="d-flex">
										<h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="{{mover.number_max_quote_request}}"	data-purecounter-delay="200">
											0
										</h5>
									</div>
									<span class="mb-0 h5 fw-light">Devis/jour maximum</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!-- Counter boxes END -->
			</div><!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Page content END --></br></br></br></br></br></br></br></br></br></br></br>

    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}