{% extends 'administration/admin_base.html' %}

{% block title %} Admin - Facturation {% endblock %}

{% load static %}

{% block facturation_active %} active {% endblock %}


{% block main %}

    <div class="card bg-dark">
        <div class="card-header bg-dark" align="center">
            <h2 class="text-white">Facturation</h2>
        </div>

        <form class="rounded position-relative" method="POST">
            {% csrf_token %}
            <input class="form-control pe-5 bg-transparent" type="search" name="ref" placeholder="Rechercher un déménageur" aria-label="Search">
            <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit" name="search" value="search">
                <i class="fas fa-search fs-6 "></i>
            </button>
        </form>

        <p></p>
        <p></p>
        <div class="card-body bg-dark">

            <!-- Outer tabs START -->
            <ul class="nav nav-pills nav-pill-soft mb-3" id="movers-pills-tab" role="tablist">
                <!-- Tab item -->
                <li class="nav-item me-2 me-sm-5" role="presentation">
                    <button class="nav-link active" id="movers-pills-tab-1" data-bs-toggle="pill" data-bs-target="#movers-pills-tab1" type="button" role="tab" aria-controls="movers-pills-tab1" aria-selected="true">
                        Paiements non effectués
                        <span class="badge text-white bg-success rounded-1">{{number_quote_request_unpaid}}</span>
                    </button>
                </li>
                <!-- Tab item -->
                <li class="nav-item me-2 me-sm-5" role="presentation">
                    <button class="nav-link" id="movers-pills-tab-2" data-bs-toggle="pill" data-bs-target="#movers-pills-tab2" type="button" role="tab" aria-controls="movers-pills-tab2" aria-selected="false">
                        Paiements effectués en attente de validation
                        <span class="badge text-white bg-success rounded-1">
                            {{number_quote_request_waiting_for_validation}}
                        </span>
                    </button>
                </li>
                <!-- Tab item -->
                <li class="nav-item me-2 me-sm-5" role="presentation">
                    <button class="nav-link" id="movers-pills-tab-3" data-bs-toggle="pill" data-bs-target="#movers-pills-tab3" type="button" role="tab" aria-controls="movers-pills-tab3" aria-selected="false">
                        Paiements effectués et validés
                        <span class="badge text-white bg-success rounded-1">
                            {{number_quote_request_paid}}
                        </span>
                    </button>
                </li>
                <!-- Tab item -->
                <li class="nav-item me-2 me-sm-5" role="presentation">
                    <button class="nav-link" id="movers-pills-tab-4" data-bs-toggle="pill" data-bs-target="#movers-pills-tab4" type="button" role="tab" aria-controls="movers-pills-tab4" aria-selected="false">
                        Paiements effectués en attente de validation
                        <span class="badge text-white bg-success rounded-1">
                            {{number_quote_request_waiting_for_validation}}
                        </span>
                    </button>
                </li>
            </ul>
            <!-- Outer tabs END -->

            <!-- Outer tabs contents START -->
            <div class="tab-content mb-0" id="movers-pills-tabContent">

                <!-- Outer content START -->
                <div class="tab-pane fade show active" id="movers-pills-tab1" role="tabpanel" aria-labelledby="movers-pills-tab-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-between">

                                {% if mover %}
                                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                                        <h5>Résultat de la recherche</h5>
                                    </div>
                                    <div class="table-responsive-lg border-0">
                                        <table class="table table-dark-gray align-middle p-4 mb-0 text-white">
                                            <!-- Table head -->
                                            <thead align="center">
                                                <tr>
                                                    <th scope="col" class="border-0 rounded-start">Ref</th>
                                                    <th scope="col" class="border-0 rounded-start">Nom</th>
                                                    <th scope="col" class="border-0 rounded-start">Pays</th>
                                                    <th scope="col" class="border-0 rounded-start">Type de déménagement</th>
                                                    <th scope="col" class="border-0 rounded-end">Téléphone</th>
                                                    <th scope="col" class="border-0 rounded-end">Numéro de TVA</th>
                                                    <th scope="col" class="border-0 rounded-end">Date d'inscription</th>
                                                </tr>
                                            </thead>

                                            <!-- Table body START -->
                                            <tbody align="center">
                                                <!-- Table item -->
                                                <tr>
                                                        <!-- Course item -->
                                                        <td>
                                                            <a>
                                                                <center>{{mover.ref}}</center>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {{mover.company_name}}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {% for country in countries %}
                                                                    {% if country.id == mover.country_id %}
                                                                        {{country.name}}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {{mover.moving_type1.name}}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {{mover.company_phone_number}}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {{mover.TVA_number}}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {% load i18n %}
                                                                {% language 'fr' %}
                                                                    {{mover.created|date:'d F Y'}}
                                                                {% endlanguage %}
                                                            </center>
                                                        </td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="table-responsive-lg border-0">
                                        <table class="table table-dark-gray align-middle p-4 mb-0 text-white">
                                            <!-- Table head -->
                                            <thead align="center">
                                                <tr>
                                                    <th scope="col" class="border-0 rounded-start">Ref</th>
                                                    <th scope="col" class="border-0 rounded-start">Nom</th>
                                                    <th scope="col" class="border-0 rounded-start">Pays</th>
                                                    <th scope="col" class="border-0 rounded-start">
                                                        Type de déménagement
                                                    </th>
                                                    <th scope="col" class="border-0 rounded-end">Email</th>
                                                    <th scope="col" class="border-0 rounded-end">
                                                        Paiements non effectués
                                                    </th>
                                                </tr>
                                            </thead>

                                            <!-- Table body START -->
                                            <tbody align="center">
                                                <!-- Table item -->
                                                {% for mover_quote_request in mover_quote_requests %}
                                                    <tr>
                                                        <!-- Course item -->
                                                        <td>
                                                            <a href="">
                                                                <center>
                                                                    {% for mover in movers %}
                                                                        {% if mover.id == mover_quote_request.mover %}
                                                                            {{mover.ref}}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </center>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {% for mover in movers %}
                                                                    {% if mover.id == mover_quote_request.mover %}
                                                                        {{mover.company_name}}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {% for mover in movers %}
                                                                    {% if mover.id == mover_quote_request.mover %}
                                                                        {{mover.country.name}}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {% for mover in movers %}
                                                                    {% if mover.id == mover_quote_request.mover %}
                                                                        {{mover.moving_type1.name}}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                {% for mover in movers %}
                                                                    {% if mover.id == mover_quote_request.mover %}

                                                                        {% for user in users %}
                                                                            {% if user.id == mover.user_id %}
                                                                                {{user.email}}
                                                                            {% endif %}
                                                                        {% endfor %}

                                                                    {% endif %}
                                                                {% endfor %}
                                                            </center>
                                                        </td>
                                                        <td>
                                                            <center>
                                                                <a href="{% url 'list_payments_not_done' mover_quote_request.mover %}">
                                                                    {{mover_quote_request.count}}
                                                                </a>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </div> <!-- Row END -->
                </div>
                <!-- Outer content END -->

                <!-- Outer content START -->
                <div class="tab-pane fade" id="movers-pills-tab2" role="tabpanel" aria-labelledby="movers-pills-tab-2">
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-between">

                                <div class="table-responsive-lg border-0">
                                    <table class="table table-dark-gray align-middle p-4 mb-0 text-white">
                                        <!-- Table head -->
                                        <thead align="center">
                                            <tr>
                                                <th scope="col" class="border-0 rounded-start">Déménageur</th>
                                                <th scope="col" class="border-0 rounded-start">Pays</th>
                                                <th scope="col" class="border-0 rounded-end">Email</th>
                                                <th scope="col" class="border-0 rounded-end">
                                                    Paiements non effectués
                                                </th>
                                            </tr>
                                        </thead>

                                        <!-- Table body START -->
                                        <tbody align="center">
                                            <!-- Table item -->
                                            {% for mover_quote_request_payment in mover_quote_request_payments %}
                                                <tr>
                                                    <!-- Course item -->
                                                    <td>
                                                        <center>
                                                            {{mover_quote_request_payment.mover.company_name}}
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            {{mover_quote_request_payment.mover.country.name}}
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            {{mover_quote_request_payment.mover.user.email}}
                                                        </center>
                                                    </td>
                                                    <td>
                                                        <center>
                                                            <a href="{% url 'payment_validation' mover_quote_request_payment.id %}" type="button" class="btn btn-success">
                                                                Vérifier et valider ce payment
                                                            </a>
                                                        </center>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div> <!-- Row END -->
                </div>
                <!-- Outer content END -->

            </div>
		<!-- Outer tabs contents END -->
        </div>
    </div>

{% endblock %}